<footer class="section">
  <p>
    copyright &copy; NanaShop
    <span id="date"></span>. all rights reserved
  </p>
</footer>
<a class="scroll-link top-link" href="#home">
  <i class="fas fa-arrow-up"></i>
</a>
</body>
</html>