<section id="about" class="section">
  <div class="title">
    <h2>about <span>us</span></h2>
  </div>
</section>
<!-- services -->
<section id="services" class="section">
  <div class="title">
    <h2>our <span>services</span></h2>
  </div>
</section>
<!-- contact -->
<section id="tours" class="section">
  <div class="title">
    <h2>Contact <span>us</span></h2>
  </div>
</section>